In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("2025-10-02T1309_Grades-PHYS_201.csv")
df.head()

,Student,ID,SIS User ID,SIS Login ID,Section,Chapter 1 Prelecture Video 1 (1859100),Chapter 1 Prelecture Video 2 (1859101),Chapter 2 Prelecture Video 1 (1859104),Chapter 2 Prelecture Video 2 (1859105),Chapter 2 Prelecture Video 3 (1859106),...,Exam 2 Final Score,Exam 2 Unposted Final Score,Final Exam Current Score,Final Exam Unposted Current Score,Final Exam Final Score,Final Exam Unposted Final Score,Current Score,Unposted Current Score,Final Score,Unposted Final Score
0,NaN,NaN,NaN,NaN,NaN,Manual Posting,Manual Posting,Manual Posting,Manual Posting,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Points Possible,NaN,NaN,NaN,NaN,10.00,10.00,10.00,10.00,10.0,...,(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only)
2,"Acuna, Alana",154045.0,951950659.0,aacuna,"PHYS 201 (CRN 14367), PHYS 201 (CRN 14370), an...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Autar, Akash",140426.0,951875528.0,aautar,"PHYS 201 (CRN 14367), PHYS 201 (CRN 14370), an...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Barnes, Aj",190949.0,952105847.0,ajbarnes,"PHYS 201 (CRN 14367), PHYS 201 (CRN 14370), an...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Student'][2:-1].to_list()

['Acuna, Alana',
 'Autar, Akash',
 'Barnes, Aj',
 'Bertelsen, Hailey',
 'Bradshaw, Charlie',
 'Cook Diaz, Rowan',
 'Cooper, Mikala',
 'Corcoran, Nick',
 'Craddock, Yun',
 'De Leon, Isaiah',
 'Dennis, Kelsey',
 'Ellorin, Ysabella',
 'Enright, Taylor',
 'Finemel, Annie',
 'Freed, Drake',
 'Friel, Liem',
 'Fulk, Logan',
 'Gomez-Chan, Fabiola',
 'Hacker, Connor',
 'Hansen, Reese',
 'Hines, Nadia',
 'Hussein, Rima',
 'Kendall, Ava',
 'Khanna, Ananya',
 'Krueger, Tessa',
 'Lage, Adeline',
 'Lambo, Dexter',
 'Lara, Diego',
 'Lara, Victor',
 'Leach, Gwendolynn',
 'Lebo, Rachel',
 'Lilly, Genevieve',
 'Lucas, Grae',
 'Maher, Kyle',
 'Martin, Lea',
 'Martinez, Marina',
 "McDonald, Cam'Ron",
 'Mehta, Jhil',
 'Mosolgo, Anabella',
 'Narbaez, Adrien',
 'Nollette, Isabelle',
 'Owens, Richie',
 'Palmer, B J',
 'Partain, Adrian',
 'Petitt, McKenzie',
 'Printz, Dane',
 'Quizon, Ivanna',
 'Rathore, Max',
 'Roan, Dana',
 'Robin, Aidan',
 'Rook, Cassidy',
 'Roscher, Wyatt',
 'Rueter, Rochelle',
 'Rutan, Triston',
 'Sanada, Maia',
 'Schmidt, Thomas',
 'Schmitt, Eliot',
 'Shaft, Isabella',
 'Shepler, Izzy',
 'Silvia, Noah',
 'Spengler, Sascha',
 'Tarbox, Michael',
 'Toyooka, Luke',
 'Uehara, Kierstin',
 'Valdez, Bella',
 'Walts, Benjamin',
 'Watson, Magdalyn',
 'Wenz, Kamryn',
 'Winchester, Sierra',
 'Wright, Jace']